body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9;
}

#results img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    vertical-align: middle;
}